PKGNAME=dropbear
PKGVERSION=2019.78
PKGREVISION=1
PKGDISTFILE=https://matt.ucc.asn.au/dropbear/releases/dropbear-2019.78.tar.bz2
PKGDISTFILE_SUM_SHA512=f667ba8dae17ea89c118642b566f2c134c71bfd0b8bacea5cf7ec87d75ac79bd7cd1864a8788367a89d30ee35427d389ef6416375adff6e83caae30ff3e0549f
PKGWORKSUBDIR=dropbear-2019.78
USE_CONFIGURE=YES
PKG_MAKE_CONFIGURE_FLAGS='--disable-harden'
PKG_MAKE_BUILD_FLAGS='MULTI=1'
PKG_INSTALL_BUILD_FLAGS='MULTI=1'

# I can't seem to put PACKAGES="" into the build_flags variables above; it
# doesn't get expanded right when it gets handed to gmake and terrible things
# happen.

PKG_PRE_BUILD_PATCHLIST="patch-Makefile.in"
